.dealoftheDay .h2 {
  text-align: center;
  opacity: 0.7;
  margin: 40px 0;
}
.dealoftheDay .mySwiper {
  width: 75%;
}

.dealDay {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.dealDay .info {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
}
.info .stars {
  display: flex;
  color: goldenrod;
}
.dealDay .h4,
.dealDay .p {
  text-align: start;
  margin: 0;
  padding: 0;
}
.dealDay .h4 {
  margin: 20px 0 2px 0;
}
.dealDay .p {
  font-weight: 300;
}
.dealDay .price {
  text-align: start;
  color: rgb(255, 143, 156);
  margin: 10px 0 0 0;
}
.dealDay .prices {
  text-decoration: line-through;
  margin-left: 12px;
  color: black;
  font-weight: 300;
  opacity: 0.7;
}
.dealDay .btn {
  display: block;
  color: white;
  background: rgb(255, 143, 156);
  border-radius: 12px;
  border: none;
  margin-top: 10px;
  font-size: 24px;
  padding: 12px 16px;
  font-weight: bold;
  cursor: pointer;
}
.stat {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}
.stat .p {
  font-size: 15px;
}
.stat .total {
  font-weight: bold;
}
.dealDay .h5 {
  text-align: start;
  opacity: 0.8;
}
.date {
  display: flex;
  margin-top: -16px;
}
.time {
  background: rgb(0, 0, 5, 0.1);
  margin: 0 20px 0 0;
  padding: 4px 20px;
  border-radius: 10px;
}
.time .h3,
.time .h6 {
  margin: 0;
  padding: 0;
  font-weight: 500;
}
.time .h6 {
  font-weight: 300;
}

@media all and (max-width: 1100px) {
  .dealoftheDay .mySwiper {
    width: 95%;
  }
}
@media all and (max-width: 900px) {
 .dealDay {
  display: grid;
  grid-template-columns: repeat(1, 100%);
}
}
