.cartCon {
  margin: 20px 0;
  width: 100%;
  display: grid;
  justify-content: center;
}
.link {
  justify-self: center;
  color: white;
  background: rgb(255, 146, 153);
  padding: 10px 22px;
  border-radius: 10px;
  text-decoration: none;
  width: fit-content;
}
.cart .name {
  background: rgb(0, 0, 0, 0.05);
  padding: 24px 0 24px 24px;
  box-sizing: border-box;
  color: black;
  font-size: 36px;
  margin-bottom: 48px;
}
.cart .titles {
  width: 75%;
  display: grid;
  grid-template-columns: 37.5% 10% 25% 15% 12.5%;
  margin: 0 12.5%;
  margin-bottom: 22px;
  opacity: 0.7;
  border-bottom: 2px solid rgb(0, 0, 0, 0.2);
}
.titles .h3 {
  text-align: center;
}
.cart .list {
  width: 75%;
  display: grid;
  grid-template-columns: 37.5% 10% 25% 15% 12.5%;
  margin: 22px 12.5%;
}
.cart .items {
  display: flex;
  text-align: center;
  column-gap: 5px;
}
.items .itemPre {
  width: 16%;
  object-fit: cover;
}

.cart .quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  font-weight: bold;
  width: 20%;
}
.cart .price {
  color: rgb(255, 143, 156);
  text-align: center;
}
.cart .subtotal {
  text-align: center;
}
.cart .dlt {
  text-align: start;
  cursor: pointer;
  text-align: center;
  background: transparent;
}
.cart .controls {
  display: flex;
  justify-content: space-between;
  margin: 30px 12.5%;
  width: 75%;
  border-top: 2px solid rgb(0, 0, 0, 0.2);
  padding: 30px 0;
}
.controls .btn1,
.controls .btn2 {
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.controls .btn1 {
  background: rgb(255, 143, 156);
  font-size: 14px;
}
.controls .btn2 {
  background: rgb(0, 0, 0);
  background: red;
}
.orderBox {
  width: 30%;
  border: 2px solid rgb(0, 0, 0, 0.2);
  border-radius: 12px;
  margin-left: 58%;
}
.orderBox .detail {
  border-bottom: 2px solid rgb(0, 0, 0, 0.2);
  padding: 20px 0;
  width: 75%;
  margin: 0 12.5%;
}
.orderBox .detail1,
.orderBox .detail2 {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.detail1 .info,
.detail1 .fee {
  margin: 10px 0 0 0;
  font-weight: bold;
}

.detail2 .info,
.detail2 .fee {
  margin: 10px 0 2px 0;
}
.cart .total {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 12.5%;
  font-weight: bold;
  font-size: 22px;
}
.checkout {
  width: 30%;
  background: rgb(255, 146, 153);
  border-radius: 5px;
  margin-left: 58%;
  border: none;
  margin-top: 16px;
  margin-bottom: 80px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.checkout .checkoutLink {
  font-weight: bold;
  font-size: 15px;
  padding: 3px 0px;
  text-decoration: none;
  color: white;
}

@media all and (max-width: 1250px) {
  .cart .titles {
    width: 90%;
    margin-left: 5.5%;
    margin-right: 0;
  }
  .cart .list {
    width: 90%;
    margin-left: 5.5%;
    margin-right: 0;
  }
  .cart .controls {
    width: 90%;
    margin-left: 5.5%;
    margin-right: 0;
  }
  .orderBox,
  .checkout {
    width: 40%;
    margin-left: 48%;
  }
}

@media all and (max-width: 900px) {
  .orderBox,
  .checkout {
    width: 50%;
    margin-left: 38%;
  }
}

@media all and (max-width: 750px) {
  .cart .titles {
    width: 96%;
    margin-left: 2%;
    margin-right: 0;
  }
  .cart .list {
    width: 96%;
    margin-left: 2%;
    margin-right: 0;
  }
  .cart .controls {
    width: 96%;
    margin-left: 2%;
    margin-right: 0;
  }
  .orderBox,
  .checkout {
    width: 70%;
    margin-left: 28%;
  }
}

@media all and (max-width: 600px) {
  .cart .titles {
    display: none;
  }

  .cart .list {
    grid-template-columns: 74% 14% 12%;
  }
  .list .quantity {
    display: none;
  }
  .list .price {
    display: none;
  }
  .list .dlt {
    justify-self: end;
  }
  .orderBox,
  .checkout {
    width: 90%;
    margin-left: 8%;
  }
}

@media all and (max-width: 450px) {
  .cart .titles {
    margin-left: 2%;
  }
  .cart .list {
    margin-left: 2%;
  }
  .cart .controls {
    margin-left: 2%;
  }
  .orderBox,
  .checkout {
    width: 70%;
    margin-left: 28%;
  }
}
